<title>{{ question.question_text }}</title>

<body></body>
<!-- Since we’re creating a POST form (which can have the effect of modifying data),
    we need to worry about Cross Site Request Forgeries.
    Thankfully, you don’t have to worry too hard,
    because Django comes with a helpful system for protecting against it.
    In short, all POST forms that are targeted at internal URLs
    should use the {% csrf_token %} template tag. -->

{% if user.is_authenticated %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
    </form>
{% else %}
  <p>You have to be logged in to vote</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}