<title>Polls</title>

{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">

<body></body>

<a href="{% url 'home' %}">To home page</a>

<form method="GET">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Log in</button>
</form>


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<!-- Fix for search functionality provided below this form-->
<form action="{% url 'polls:search' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
    <button type="submit">Search</button>
</form>

<!-- Fix for search functionality, don't comment out this line-->
<!-- <form class="d-flex" role="search" method="POST" action="{% url 'polls:search' %}">
    {% csrf_token %}
    <input
       class="form-control me-2"
       type="search"
       placeholder="Search..."
       name="q"
       required aria-label="Search"
    >
    <button class="btn btn-outline-success" type="submit">Search</button>
</form> -->
